.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.boardContainer{
  display: flex;
  gap:0px;
  font-size: xx-large;
}
.boardCol{
  /* border: 1px solid wheat; */
}
.boardRow{
  cursor: pointer;
  padding: 10px;
  /* border: none; */
  border: 1px solid black;
}
.boardRow:hover{
  /* font-size: larger; */
  /* font-weight: bold; */
  color: white;
  border: 1px solid wheat;
}
.pletter{
  padding: 0px;
  margin: 0px;
}
.header{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.leftTime{
  font-size: xx-large;
}
.user{
  font-size: xx-large;
}