.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.boardContainer{
  display: flex;
  gap:20px;
  font-size: x-large;
}
.letterDiv{
  cursor: pointer;
}
.letterDiv:hover{
  font-size: larger;
  font-weight: bold;
  color: white;
}
.header{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.leftTime{
  font-size: xx-large;
}
.user{
  font-size: xx-large;
}